{% extends 'base.html.twig' %}

{% block title %}Neue Massnahmeart{% endblock %}

{% block body %}
    <h1>Erstelle neue Massnahmeart</h1>

    {{ include('massnahmeart/_form.html.twig') }}

    <a href="{{ path('massnahmeart_index') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">zurück zur Liste</a>
{% endblock %}
