{% extends 'base.html.twig' %}

{% block title %}Eintragsbereich index{% endblock %}

{% block body %}
    <h1>Eintragsbereich</h1>

    <table class="table table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
        {% for eintragsbereich in eintragsbereiches %}
            <tr>
                <td>{{ eintragsbereich.name }}</td>
                <td>
                    <a href="{{ path('eintragsbereich_show', {'id': eintragsbereich.id}) }}" class="btn btn-secondary btn-sm active" role="button"><i class="fa fa-eye"></i> anzeigen</a>
                    <a href="{{ path('eintragsbereich_edit', {'id': eintragsbereich.id}) }}"class="btn btn-secondary btn-sm active" role="button"><i class="fa fa-edit"></i> ändern</a>
                </td>
            </tr>
        {% else %}
            <tr>
                  <td colspan="2">keine Einträge gefunden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('eintragsbereich_new') }}" class="btn btn-primary btn-sm active" role="button"><i class="fa fa-plus"></i> neu erstellen</a>
{% endblock %}
