{% extends 'base.html.twig' %}

{% block title %}Edit Eintragung{% endblock %}

{% block body %}
    <h1>Edit Eintragung</h1>

    {{ include('eintragung/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('eintragung_index') }}">back to list</a>

    {{ include('eintragung/_delete_form.html.twig') }}
{% endblock %}
