{% extends 'base.html.twig' %}

{% block title %}New Eintragung{% endblock %}

{% block body %}
    <h1>Create new Eintragung</h1>

    {{ include('eintragung/_form.html.twig') }}

    <a href="{{ path('eintragung_index') }}">back to list</a>
{% endblock %}
