<form method="post" action="{{ path('praktika_delete', {'id': praktika.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ praktika.id) }}">
    <button class="btn btn-danger">Löschen</button>
</form>
