<form method="post" action="{{ path('massnahme_delete', {'id': massnahme.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ massnahme.id) }}">
    <button class="btn btn-danger">Löschen</button>
</form>
