{% extends 'base.html.twig' %}

{% block title %}New Teilnehmer{% endblock %}

{% block body %}
    <h1>Create new Teilnehmer</h1>

    {{ include('teilnehmer/_form.html.twig') }}

    <a href="{{ path('teilnehmer_index') }}">back to list</a>
{% endblock %}
