{% extends 'base.html.twig' %}

{% block title %}Teilnehmer{% endblock %}

{% block body %}
    <h1>Teilnehmer</h1>

    <table class="table table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Vorname</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for teilnehmer in teilnehmers %}
            <tr>
                <td>{{ teilnehmer.name }}</td>
                <td>{{ teilnehmer.vorname }}</td>
                <td>
                    <a href="{{ path('teilnehmer_show', {'id': teilnehmer.id}) }}" class="btn btn-secondary btn-sm active" role="button"><i class="fa fa-eye"></i> anzeigen</a>
                    <a href="{{ path('teilnehmer_edit', {'id': teilnehmer.id}) }}" class="btn btn-secondary btn-sm active" role="button"><i class="fa fa-edit"></i> ändern</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">keine Einträge gefunden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}