{% extends 'base.html.twig' %}

{% block title %}Edit Funktion{% endblock %}

{% block body %}
    <h1>Edit Funktion</h1>

    {{ include('funktion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('funktion_index') }}">back to list</a>

    {{ include('funktion/_delete_form.html.twig') }}
{% endblock %}
