{% extends 'base.html.twig' %}

{% block title %}Neue Funktion{% endblock %}

{% block body %}
    <h1>Erstelle neue Funktion</h1>

    {{ include('funktion/_form.html.twig') }}

    <p>
        <a href="{{ path('funktion_index') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">zurück</a>
    </p>
{% endblock %}
