{% extends 'base.html.twig' %}

{% block title %}Edit Mitarbeiter{% endblock %}

{% block body %}
    <h1>Ändere Mitarbeiter</h1>

    {{ include('mitarbeiter/_form.html.twig', {'button_label': 'Speichern'}) }}

    <a href="{{ path('mitarbeiter_index') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">zurück zur Liste</a>

  
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ include('mitarbeiter/_delete_form.html.twig') }}
{% endblock %} 
