{% extends 'base.html.twig' %}

{% block title %}Neue Firma{% endblock %}

{% block body %}
    <h1>Erstelle neue Firma</h1>

    {{ include('firma/_form.html.twig') }}

    <a href="{{ path('firma_index') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">zurück zur Liste</a>
{% endblock %}
